
.icon-play-circled2:before { content: '\e800'; } /* '' */
.icon-pause-circled:before { content: '\e801'; } /* '' */
.icon-attention-alt:before { content: '\e802'; } /* '' */
.icon-forward:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-toggle-off:before { content: '\e806'; } /* '' */
.icon-toggle-on:before { content: '\e807'; } /* '' */
.icon-ok-circled:before { content: '\e808'; } /* '' */
.icon-music:before { content: '\e809'; } /* '' */
.icon-note-beamed:before { content: '\e80a'; } /* '' */
.icon-heart-empty:before { content: '\e80b'; } /* '' */
.icon-thumbs-down:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-upload:before { content: '\e80e'; } /* '' */
.icon-th-thumb-empty:before { content: '\e80f'; } /* '' */
.icon-volume-off:before { content: '\e812'; } /* '' */
.icon-volume-high:before { content: '\e813'; } /* '' */